
.header {
    background-color: #819462;
    font-size: larger;
}

.form-inline{
    width: 100%;
    display: flex;
  }

.form-inline #search{
    width: 50%;
}

.font-header {
    font-family: 'Licida Handwritting', cursive;
}

.modal-header {
    background-color: #819462;
    font-size: larger;
    color: #F3EEE8;
}

.btn-success {
    background-color: #819462;
}

.form-group i {
    margin-left: -4rem;
    cursor: pointer;
}

.form-group .inline {
    padding-top: 0.4rem;
}

section {
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 5rem;
    padding-right: 5rem;
}

.item-list .card {
    background-color: #DFDAD3;
    border: none;
}

.item-list .bg-cart{
    background-color: #819462;
    color: #F3EEE8;
    margin-top: 1rem;
}

footer, footer a{
    background-color: #819462;
    color: #F3EEE8;
}

@media (min-width: 990px) {
    .form-inline{
        width: 200%;
        display: flex;
        justify-content: center;
        padding-left: 4rem;
        }
}

@media (min-width: 576px) {
    .modal-footer .btn{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 330px) {
    .bg-cart {
        font-size: xx-small;
    }
}